<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OCR-Dashboard</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script th:src="@{js/jquery/2.1.3/jquery.min.js}"></script>
</head>
<body style="padding-left: 30px; padding-right:30px;">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Hackathon</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/tutorial">Tutorial</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </div>
    </div>

</nav>

<div class="container">
    <h2>
        <center>Image to Text - SURVEILLANCE 2.0</center>
    </h2>
    <p>The current platform of GECS doesn't monitor images sent through different communication mediums in HSBC. We aim
        to create a tool to handle this issue. This tool can be used to convert images to text which can further be used
        to trigger breached policies., which were being missed out by the current platform.</p>
</div>
<div class="container">
</div>
<div style="position: absolute; bottom: 10px; left: 30px;">
    <h3>Technologies and Frameworks</h3>
    <p>SpringBoot<br/>
        ThymeLeaf<br/>
        Tess4j (Java wrapper for Google Tesseract)<br/>
        Tomcat<br/>
        Maven<br/>
        Java 8<br/>
        HTML 5 + JQuery<br/>
    </p>
</div>
<div style="position: absolute; bottom: 10px; right: 30px;">
    <h3>Team Members</h3>
    <p>Siddharth Chandran E<br/>
        Ritika Gupta<br/>
        Bharatdeep Maan<br/>
        Shaurya Gogia<br/></p>
</div>

</body>
</html>